**/.classpath
**/.dockerignore
**/.env
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/docs
LICENSE
README.md
resources/docker-support/Dockerfile
src/Dockerfile.Common
tools/
test/
support/
resources/
bitbucket-pipelines.yml
**/.terragrunt-cache/
**/.terragrunt-cache
.terragrunt-cache
src/abandon-via-queue/infrastructure